<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>employeeManagementSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertEmployeeServlet</servlet-name>
		<servlet-class>servlet.InsertEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>deleteEmployeeServlet</servlet-name>
	<servlet-class>servlet.DeleteEmployeeServlet  </servlet-class>
	</servlet>
	<servlet>
	<servlet-name>editEmployeeServlet</servlet-name>
	<servlet-class>servlet.EditEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>

	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>insertEmployeeServlet</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>deleteEmployeeServlet</servlet-name>
	<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>editEmployeeServlet</servlet-name>
	<url-pattern>/update</url-pattern>
	</servlet-mapping>

</web-app>